<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
        Books and Authors
        {% endblock title %}
    </title>
</head>

<body>
    {% block content %}

    <div id="wrapper">
        <div id="content">
            <h1>Add an Author</h1>
            <form action="/add_author" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input name="first_name" type="text" class="form-control" id="first_name">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input name="last_name" type="text" class="form-control" id="last_name">
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea  name="notes" class="form-control" id="notes" rows="3"></textarea>
                </div>
                <button style="margin-top: 1rem;" type="submit" class="btn btn-primary">Add</button>
            </form>
            <a style = "margin-top: 1rem;"class="btn btn-secondary" href="/" role="button">See All Books</a>
        </div>
        <nav>
            <table  class="table table-bordered table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for author in all_authors %}
                    <tr>
                        <th scope="row">{{ author.id }}</th>
                        <td>{{ author.first_name }} {{ author.last_name }}</td>
                        <td><a href="/author/{{ author.id }}">View</a>
                            <a href="/delete_author/{{ author.id }}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </nav>


    </div>
    {% endblock content %}
</body>

</html>