{% extends 'index.html' %}
{% block title %}
{{ block.super }}
{% endblock title %}


{% block content %}
<div style="padding: 3rem; " id="container">
    <h1>{{ author.first_name }} {{ author.last_name }}</h1>
    <h4>ID: {{ author.id }}</h3>
    <div class="card" style="width: 25%; margin-top: 1.5rem">
        <div class="card-body">
            <h5 class="card-title">Notes</h5>
            <p class="card-text">{{ author.notes }}</p>
        </div>
    </div>
    <h3 style = "margin-top: 2rem;">Books</h3>
    <ul class="list-group">
        {% for books in author.books.all %}
        <li class="list-group-item" style="width: 25%;">{{ books.title }}</li>
        {% endfor %}
    </ul>

    <form style = "margin-top: 1.5rem; "action="/book_to_author/{{ author.id }}" method="post">
        {% csrf_token %}
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Choose a Book</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="book_id">
                    {% for book in all_books %}
                    <option value="{{ book.id }}">{{ book.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>


</div>








{% endblock content %}